<div class="search-container">
  <!-- Search input field -->
  <input type="text" placeholder="Search products..." [(ngModel)]="keyword" class="search-input" (input)="search()">
</div>

<div class="event-container">
  <div class="row">
    <ng-container *ngIf="pagedProducts.length > 0; else noEventsFound">
      <div class="col-md-4" *ngFor="let product of pagedProducts let i = index">
        <div class="card mb-3">
          <div class="container">
            <div class="event-details">
              <h5 class="card-title">{{ product.productName }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">
                <small class="text-muted"> {{ product.price }} Dt</small>
              </p>
              <p class="card-text">{{ product.type }}</p>
              <p class="card-text">{{ product.stock }} pieces</p>


            </div>


            <div class="event-image">
              <img class="card-img-top" [src]="product.img" alt="Event Image" width="250">
            </div>


          </div>
          <button mat-raised-button color="warn" (click)="confirmDelete(product)">Delete</button>


        </div>
      </div>
    </ng-container>
    <!-- Display message when no events are found -->
    <ng-template #noEventsFound>
      <div class="col-md-12 text-center no-events-found-container">
        <h3 class="no-events-found-message">No product found.</h3>
        <img [src]="'assets/notfound.png'" class="no-events-found-image">
      </div>
    </ng-template>
  </div>

</div>


<!-- Pagination -->
<div class="pagination-container">
  <button mat-button [disabled]="currentPage === 1" (click)="onPrevPage()" class="button-icon">Previous</button>
  <span>{{ currentPage }} / {{ totalPages() }}</span>
  <button mat-button [disabled]="currentPage === totalPages()" (click)="onNextPage()" class="button-icon">Next</button>
</div>
